# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]

/.emacs.d/repl-port
/.emacs.d/elpa/
/.emacs.d/conf.el
/.emacs.d/secret.el
/.emacs.d/.smex-items
/.emacs.d/ac-comphist.dat
/.emacs.d/ido.last
/.emacs.d/places
/.emacs.d/projectile-bookmarks.eld
/.ansible/tmp/
/.lein/self-installs/
/.emacs.d/.sx/
/.emacs.d/auto-save-list/
/.emacs.d/backups/
/.emacs.d/el-get/
/.emacs.d/tramp
/.emacs.d/var/
/.emacs.d/.python-environments/
/.lein/repl-port
/.emacs.d/recentf
/.emacs.d/projectile.cache
/.lein/cache/
/.lein/repl-history
/.emacs.d/url/cookies
/.emacs.d/network-security.data
/.emacs.d/eshell/history
/boot/cache/
