[color]                        
    diff = auto            
    status = auto          
    branch = auto
    ui = auto
[user]                         
    name =
    email = 
[cola]
    fontdiff = Droid Sans Mono Dotted,10,-1,5,50,0,0,0,0,0
    fontui = Nimbus Sans L,12,-1,5,50,0,0,0,0,0
    savewindowsettings = true
    tabwidth = 4
[core]
    editor = emacsclient  -nw
    excludesfile = ~/.gitignore
[gui]
    editor = emacsclient --no-wait

[alias] 
    lol = log --oneline --graph --decorate
    lola = log --graph --decorate --oneline --all
    ci = commit
    st = status -sb
    co = checkout
    oneline = log --pretty=oneline
    br = branch
    la = log --pretty=\"format:%ad %h (%an): %s\" --date=short
    pg = push origin HEAD:refs/for/master
    nm = log --no-merges
    dw = diff --word-diff
    d = diff --color-words --abbrev
    dc = diff --cached
    m = merge
    mnff = merge --no-ff
    pop = stash pop
    tags = !git for-each-ref --sort=-taggerdate --format '%(refname:short) %(taggerdate:relative)' refs/tags
    tagsonly = !git for-each-ref --sort=-taggerdate --format '%(refname:short)' refs/tags
    pick = !sh -c 'git log -S$1 -p' -  # show log diffs that add/remove arg string
    graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
    root = !pwd
    pu = push --follow-tags
    permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
    sync = !git stash && git pull --rebase && git stash pop
[github]
    user = minimal
    token = 
[merge]
	tool = diffmerge
[rerere]
    enabled = 1
[branch]
    autosetuprebase = always
[push]
    default = simple
[pull]
    ff = only
[diff]
	tool = diffmerge
	compactionHeuristic = true
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[help]
	autocorrect = 10
[dude]
	interval = 300
[rebase]
	autosquash = true
[commit]
	template = /Users/christophermcdevitt/code/dotfiles/git_commit_msg.txt
# rewrite github https: urls to ssh for pushing
[url "git@github.com:"]
	pushInsteadOf = "https://github.com/"
