<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>53</integer>
			<key>modifiers</key>
			<integer>1048840</integer>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>044D158F-FBF2-48BE-9319-B459828200AC</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/usr/local/Cellar/emacs/HEAD/Emacs.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>111</integer>
			<key>modifiers</key>
			<integer>9175329</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>C8FA4D95-5B6E-4385-9CCE-42AAB2E04093</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/HipChat.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>107</integer>
			<key>modifiers</key>
			<integer>9175329</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>E3337CEE-FB82-4B5A-8806-302B1185EA61</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/usr/local/Cellar/emacs/HEAD/Emacs.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>105</integer>
			<key>modifiers</key>
			<integer>8388864</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>23DEEC79-7664-4218-A222-9F5AA21313D2</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Google Chrome.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>107</integer>
			<key>modifiers</key>
			<integer>8388864</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>679C3B10-2E36-49A8-96EE-828691EB7739</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Google Chrome.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>103</integer>
			<key>modifiers</key>
			<integer>9175329</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
